
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #444444;
    color: white;
    padding: 20px 0;
    border-bottom: #CD3206 5px solid;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 50%;
}

article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #219653;
}

a {
    color: #2980b9;
    text-decoration: none;
}

footer {
    background-color: #444444;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    article {
        width: calc(100% - 40px);
    }
}
